body {
    background-color: rgb(209, 200, 173);
}

main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .container {

        & h1{
            color: rgb(24, 22, 22);
        }

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 2rem;
        flex-direction: column;

        & .card {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 40rem;
            width: 30rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            border-radius: 1rem;
            background-color: white;
            


            & .image {
                background-image: url(/images/model.webp);
                height: 18rem;
                width: 25rem;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 0.6rem;
                margin-top: 2rem;
            }

            & #currentStatus {
                color: red;
                font-size: 2rem;
                font-weight: 600;
                padding: 1rem 0 2rem 0;
            }

            & .button {
                font-weight: 400;
                font-size: 1.6rem;
                padding: 1rem 2rem;
                border-radius: 5px;
                background-color: rgb(68, 146, 66);
                cursor: pointer;
                color: white;
                
            }


            & .card-title {
                font-size: 2rem;
                padding: 2rem 0 1rem 0;

            }


        }
    }

}