body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;

    & h1{
        font-size: 6rem;
        color: white;
        font-weight: 900;
    }
}
.cursor{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    transition: all linear 0.1s;
}